*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: "Century Gothic";
}
form{
  max-width: 500px;
  background-color: whitesmoke;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  
}
input, textarea{
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  font-family: "Century Gothic";
}
select{
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  font-family: inherit;
  
}
button{
  transition: all 0.3s ease-in-out;
  padding: 15px;
  margin-top: 20px;
  border: 0px gray solid;
  background-color: #ffc003;
  font-size: 15px;
  font-family: inherit;

}